<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/style.css" media="screen" />
<style>
    body{
        background-color: black;
    }
    .boton{
        padding-top: 150px;
        margin-top: 200px;
        border:transparent; 
        background-color: transparent;
        font-size: 50px;
        background-repeat: no-repeat;
        background-size: 100%;
        color: white;
        text-decoration-color: black;
        border-radius: 20px;
        height: 200px;
    }
</style>
</head>

<body>
    <div style=" display: flex;justify-content: center;" class="btn-group">
        <form action="personajes">      
            <button style="margin-right: 20px;width: 400px;background-image: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/480/public/media/image/2017/05/superheroes-marvel.jpg?itok=DG30rjZS');" class="boton" type="submit">Personajes</button>
        </form>
        <form action="peliculas">
            <button style="margin-left: 20px;width: 404px;background-image: url('https://http2.mlstatic.com/coleccion-saga-peliculas-marvel-a-eleccion-D_NQ_NP_898182-MLA30027113682_042019-F.jpg');" class="boton" type="submit">Películas</button>
        </form>
    </div>


</body>
</html>